
#logo {

}

#textContent {
    padding: 1% 0;
    display: flex;
    width: 100%;
}

#appName {
    margin-left: 0.5rem;
    font-size: 2rem;
}

#appName span {
    color: white;
}

#appDescription { 
    margin: auto;
    font-size: 1.5rem;
}

#appSubDescription {

}