#tableWrapper {
    width: 80%
}

.table { 
    height: 85vh;
    width: 80vw;
    background: rgb(137,137,137);
    background: linear-gradient(90deg, rgba(137,137,137,1) 30%, rgba(166,166,166,1) 68%);
    border-radius: 10px;
    margin: 0 0.5rem;
    padding-top: 0.4rem;
    padding-left: 1.5rem;
}

.joinFirstStep, .joinSecondStep{
    position: absolute;
    width: 15vw;
    top: 0.5rem;
    right: 3vw;
}

.container {
    height: 85vh;
    width: 100vw;
}

.addChannelCell {
    opacity: 0.2;
    margin: 0 !important;
    padding: 0 !important;
}

.column {
    margin-right: 0 !important;
}

.ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.addChannelCell:hover {
    opacity: 1;
    cursor: pointer;
}

.imageWrapper div {
    height: 100%;
    transition: transform 0.2s;
}

.imageWrapper:hover { 
    cursor: pointer;
    transform: scale(3.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
    position: relative;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 77vw;
}

.channelImage {
    width: 100%;
    height: 100%;
}
